git+https://github.com/ml-explore/mlx-lm.git@2c008fd0252b2c569227d12568356ab88ab0560a
git+https://github.com/huggingface/transformers.git@1048e9af78a6045444244412dfe216ba5810e7fb
llama-cpp-python
fastapi
uvicorn[standard]
python-multipart
truststore
